/* 
====== 
Fonts
======
*/
@import url("https://fonts.googleapis.com/css?family=Cardo:400,700|Great+Vibes&display=swap");

/* 
====== 
Variables 
======
*/
:root {
  --cl-primary: #c59d5f;
  --cl-black: #222;
  --cl-white: #fff;
  --cl-off-white: #f7f7f7;
  --cl-text-grey: #827f79;
  --cl-bg-grey: #f8f9fa;
  --ft-body: "Cardo", serif;
  --ft-title: "Great Vibes", cursive;
  --transition: all 0.3s linear;
  --spacing: 0.3rem;
  --smallSpacing: 2px;
  --shadow-light: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --shadow-dark: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --border-radius: 0.25rem;
  --small-width: 85vw;
  --max-width: 40rem;
  --full-width: 1170px;
}
/* 
====== 
Global Styles 
======
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ft-body);
  color: var(--cl-black);
  background: var(--cl-white);
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
p {
  letter-spacing: var(--smallSpacing);
  margin-bottom: 0.5rem;
  line-height: 1.8;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--cl-black);
}
img {
  width: 100%;
  display: block;
}
/* utility classes */
.text-white {
  color: var(--cl-white);
}
.text-primary {
  color: var(--cl-primary);
}
.text-grey {
  color: var(--cl-text-grey);
}
.bg-secondary {
  background: var(--cl-bg-grey);
}
.zero-margin {
  margin-bottom: 0;
}
.section {
  padding: 6rem 0;
}
.center {
  width: var(--small-width);
  max-width: var(--full-width);
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .center {
    width: 95vw;
  }
}
.section-title {
  text-transform: capitalize;
  margin-bottom: 3rem;
}
.section-title-center {
  text-align: center;
}
.section-title h3 {
  color: var(--cl-primary);
  font-family: var(--ft-title);
}

/* 
====== 
Buttons 
======
*/

.btn-black,
.btn-primary,
.btn-white {
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  border: 2px solid var(--cl-black);
  padding: 1.25rem 2rem;
  display: inline-block;
  transition: var(--transition);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
}
.btn-black {
  background: var(--cl-black);
  color: var(--cl-white);
}
.btn-black:hover {
  background: transparent;
  color: var(--cl-black);
}
.btn-primary {
  background: var(--cl-primary);
  color: var(--cl-black);
  border-color: var(--cl-primary);
}
.btn-primary:hover {
  background: transparent;
  color: var(--cl-primary);
}
.btn-white {
  background: var(--cl-white);
  color: var(--cl-black);
  border-color: var(--cl-white);
}
.btn-white:hover {
  background: transparent;
  color: var(--cl-white);
}
/* 
====== 
Hero
======
*/
.hero {
  min-height: 50vh;
  display: grid;
  align-items: center;
  justify-content: center;
  background: var(--cl-primary);
  position: relative;
}

.hero-video {
  display: none;
}
@media screen and (min-width: 776px) {
  .hero-video {
    display: block;
  }
  .hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.hero-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.hero h1 {
  z-index: 2;
  color: white;
}

/* 
====== 
About
======
*/

.about-info p {
  color: var(--cl-text-grey);
  margin-bottom: 2rem;
}
.about-img-second {
  display: none;
}
.about-center {
  display: grid;
  row-gap: 3rem;
}
.about-img-first,
.about-img-second {
  max-height: 45rem;
  object-fit: cover;
  border: 0.5rem solid var(--cl-primary);
}
@media screen and (min-width: 992px) {
  .about-center {
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
  }
  .about-info {
    align-self: center;
  }
}
@media screen and (min-width: 1170px) {
  .about-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    column-gap: 1rem;
  }
  .about-img-second {
    display: block;
  }
  .about-img-first {
    position: relative;
    top: 3rem;
  }
  .about-img-second {
    position: relative;
    top: -3rem;
  }
}
/* 
====== 
Specials
======
*/

.specials-center {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23.04rem, 1fr));
  column-gap: 1rem;
  row-gap: 3rem;
  /* more content */
  align-items: start;
}

.special {
  background: var(--cl-white);
  box-shadow: var(--shadow-light);
  transition: var(--transition);
}
.special:hover {
  box-shadow: var(--shadow-dark);
}
.special-footer {
  padding: 1.25rem;
}
.special-info {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 2rem;
  font-size: 1.2rem;
  align-items: center;
}

.special-text {
  font-size: 0.9rem;
  margin-bottom: 0;
  color: var(--cl-text-grey);
}
/* 
====== 
Booking
======
*/
.booking-section {
  background: linear-gradient(to right, rgb(0, 0, 0) 30%, rgba(0, 0, 0, 0.2)),
    url("./images/booking-bcg.jpg") center/cover no-repeat;
}
@media screen and (min-width: 768px) {
  .booking-center {
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 3rem;
  }
  .booking-btn {
    align-self: center;
    justify-self: center;
  }
  .booking-center .section-title {
    margin-bottom: 0;
  }
}
.booking-center h3 {
  margin-bottom: 0;
}
/* 
====== 
Menu
======
*/
.menu-buttons {
  width: var(--small-width);
  max-width: 36rem;
  margin: 0 auto;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 2rem;
}
.menu-btn {
  border: none;
  text-transform: capitalize;
  font-size: 1.2rem;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  cursor: pointer;
}
.menu-btn:hover {
  color: var(--cl-primary);
}
.menu-center {
  display: grid;
  gap: 2rem 1rem;
}
.menu-item img {
  width: 11rem;
  height: 7rem;
  object-fit: cover;
  border: 0.25rem solid var(--cl-primary);
}
.menu-item {
  display: grid;
  row-gap: 2rem;
  max-width: 36rem;
  margin: 0 auto;
}

.menu-item h5 {
  margin-bottom: 0.5rem;
  letter-spacing: var(--smallSpacing);
}
.menu-heading {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  border-bottom: 2px dotted var(--cl-black);
}
.menu-item p {
  margin-top: 1rem;
}
@media screen and (min-width: 678px) {
  .menu-item {
    grid-template-columns: auto 1fr;
    gap: 0 1rem;
  }
  .menu-center {
    grid-template-columns: repeat(auto-fill, minmax(36rem, 1fr));
  }
}

/* 
====== 
Chef
======
*/
.chef-center {
  display: grid;
  row-gap: 4rem;
}
.chef-info p {
  color: var(--cl-text-grey);
  margin-bottom: 2rem;
}
.chef-image {
  -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
@media screen and (min-width: 1170px) {
  .chef-center {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
  .chef-image {
    align-self: stretch;
    object-fit: cover;
  }
}
/* 
====== 
Questions
======
*/
.question {
  padding: 0 1rem;
  max-width: var(--max-width);
  margin: 2rem auto;
  box-shadow: var(--shadow-light);
  background: var(--cl-bg-grey);
}
.question-header {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 1rem;
  padding: 1rem 0;
  transition: var(--transition);
}
.question-header p {
  margin-bottom: 0;
  text-transform: capitalize;
}
.question-btn {
  align-self: center;
  font-size: 1.1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: var(--transition);
}
.question-content {
  border-top: 0.5px solid rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
}
.question-content p {
  margin-bottom: 0;
  color: var(--cl-text-grey);
}
.question:hover .question-header {
  color: var(--cl-primary);
}
.question:hover .question-btn {
  color: var(--cl-primary);
}
/* .question-content {
  display: none;
}
.show-content {
  display: block;
} */
/* 
/* 
====== 
Feedback
======
*/
.feedback {
  padding: 12rem 0;
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
}
.feedback-center {
  margin-top: 4rem;
}
.feedback-info {
  text-transform: capitalize;
}
.feedback-info img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 2px solid var(--cl-primary);
  padding: 0.5rem;
  object-fit: cover;
  margin-bottom: 0.7rem;
}

.feedback-text p {
  font-weight: bold;
  letter-spacing: var(--spacing);
  font-size: 1.4rem;
}
.feedback-text span {
  font-size: 3rem;
}
.feedback-buttons {
  margin-top: 2rem;
}
.feedback-btn {
  font-size: 1rem;
  border: none;
  transition: var(--transition);
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  background: transparent;
}
.feedback-btn:hover {
  color: var(--cl-primary);
}
.feedback-active {
  color: var(--cl-primary);
}
.feedback-info,
.feedback-text {
  margin-bottom: 2rem;
}
@media screen and (min-width: 992px) {
  .feedback-center {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .feedback-info {
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .feedback-text span {
    position: absolute;
    top: 0;
    left: -4rem;
  }
  .feedback-text {
    position: relative;
  }
}
/* 
====== 
Team
======
*/
.team-center {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23.04rem, 1fr));
  column-gap: 1rem;
  row-gap: 3rem;
}
.team-member {
  position: relative;
  /* for social icons */
  background: rgb(0, 0, 0);
}
.team-img {
  max-height: 15.8rem;
  height: 100%;
  object-fit: cover;
  transition: var(--transition);
}
.team-social {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.team-social a {
  font-size: 2.2rem;
  display: inline-block;
  margin-right: 1rem;
  color: var(--cl-white);
  opacity: 0;
  transition: var(--transition);
}
.team-social a:hover {
  color: var(--cl-primary);
  transform: translateY(-0.5rem);
}
.team-member:hover .team-img {
  opacity: 0.2;
}
.team-member:hover .team-social a {
  opacity: 1;
}
/* 
====== 
Blog 
======
*/

/* 
====== 
Tiles
======
*/
.tiles {
  display: grid;
  grid-template-rows: repeat(7, 10rem);
  row-gap: 2rem;
  width: var(--small-width);
  margin: 4rem auto;
}
.tiles img {
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 776px) {
  .tiles {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 10rem);
    grid-template-areas:
      "a b c d"
      "e b f f"
      "g g f f";
    gap: 1rem;
  }
  .tiles-1 {
    grid-area: a;
  }
  .tiles-2 {
    grid-area: b;
  }
  .tiles-3 {
    grid-area: c;
  }
  .tiles-4 {
    grid-area: d;
  }
  .tiles-5 {
    grid-area: e;
  }
  .tiles-6 {
    grid-area: f;
  }
  .tiles-7 {
    grid-area: g;
  }
}
/* 
====== 
Countdow
======
*/
