/* 
====== 
Fonts
======
*/
@import url("https://fonts.googleapis.com/css?family=Cardo:400,700|Great+Vibes&display=swap");

/* 
====== 
Variables 
======
*/
:root {
  --cl-primary: #c59d5f;
  --cl-black: #222;
  --cl-white: #fff;
  --cl-off-white: #f7f7f7;
  --cl-main-grey: #827f79;
  --ft-body: "Cardo", serif;
  --ft-title: "Great Vibes", cursive;
  --transition: all 0.3s linear;
  --spacing: 0.3rem;
  --shadow-light: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --shadow-dark: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --border-radius: 0.25rem;
  --small-width: 85vw;
  --max-width: 40rem;
  --full-width: 1170px;
}
/* 
====== 
Global Styles 
======
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ft-body);
  color: var(--cl-black);
  background: var(--cl-white);
  line-height: 1.4;
  font-size: 1.25rem;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.25rem;
  letter-spacing: var(--spacing);
}
p {
  line-height: 1.8;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--cl-black);
}
img {
  width: 100%;
  display: block;
}
.section {
  padding: 4rem 0;
}
.center {
  width: var(--small-width);
  max-width: var(--full-width);
  margin: 0 auto;
}
.section-title {
  text-transform: capitalize;
  margin-bottom: 3rem;
}
.section-title-center {
  text-align: center;
}
.section-title h3 {
  color: var(--cl-primary);
  font-family: var(--ft-title);
  font-size: 2.5rem;
}
.section h2 {
  font-size: 3.125rem;
}

/* 
====== 
Buttons 
======
*/

.btn-black,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  border: 2px solid var(--cl-black);
  padding: 1.25rem 2rem;
  display: inline-block;
  transition: var(--transition);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
}
.btn-black {
  background: var(--cl-black);
  color: var(--cl-white);
}
.btn-black:hover {
  background: transparent;
  color: var(--cl-black);
}
.btn-primary {
  background: var(--cl-primary);
  color: var(--cl-black);
  border-color: var(--cl-primary);
}
.btn-primary:hover {
  background: transparent;
  color: var(--cl-primary);
}
/* 
====== 
About
======
*/
.about-info p {
  color: var(--cl-main-grey);
  margin-bottom: 2rem;
}
.about-img {
  display: none;
}
@media screen and (min-width: 776px) {
  .about-img {
    display: grid;
    align-items: stretch;
    grid-template-columns: 2fr 3fr;
    column-gap: 3rem;
  }
  .about-img-first,
  .about-img-second {
    border: 0.5rem solid var(--cl-primary);
  }
  .about-center {
    display: grid;
    row-gap: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .about-center {
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
  }
  .about-img-first {
    display: none;
  }
  .about-img {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 1400px) {
  .about-img-first {
    display: block;
  }
  .about-img {
    grid-template-columns: 2fr 3fr;
  }
  .about-section {
    padding: 6rem 0;
  }
  .about-center {
    grid-template-columns: 2fr 3fr;
  }

  .about-img-first {
    position: relative;
    top: 3rem;
    left: 5rem;
  }
  .about-img-second {
    position: relative;
    bottom: 3rem;
    z-index: -1;
  }
}

/* 
====== 
Specials
======
*/
.specials-center {
  background: red;
}
